<!DOCTYPE html>
<html{% block html_attribs %} lang="en"{% endblock html_attribs %}>
{%- block html %}
  <head>
  {%- block head %}
    <meta charset="utf-8">
    <title>{% block title %}{{title}}{% endblock title %}</title>
    {%- block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {%- endblock meta %}

    {%- block style %}
    {%- if not config['BOOTSTRAP_CUSTOM_CSS'] %}
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    {%- endif %}
    {%- if config['BOOTSTRAP_FONTAWESOME'] %}
    <link href="/static/css/font-awesome.css" rel="stylesheet">

    {%- endif %}
    {%- block style_navbar_padding %}
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    {%- endblock style_navbar_padding %}
    {%- endblock style %}

    {%- if config['BOOTSTRAP_HTML5_SHIM'] %}
    {%- block bootstrap_html5_shim %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {%- endblock bootstrap_html5_shim %}
    {%- endif %}

    {%- block favicons %}
    {%- endblock favicons %}

  {%- endblock head %}
  </head>

  <body>
  {%- block body %}
    {%- block body_content %}
    {%- endblock body_content %}
    {%- block bootstrap_js_bottom %}
    {%- if config['BOOTSTRAP_JQUERY_VERSION'] %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{config['BOOTSTRAP_JQUERY_VERSION']}}/jquery.{% if config['BOOTSTRAP_USE_MINIFIED'] %}min.{% endif %}js"></script>
    {%- endif %}
    
    <script src="/static/js/jquery/dist/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {%- endblock bootstrap_js_bottom %}

    {%- if config['BOOTSTRAP_GOOGLE_ANALYTICS_ACCOUNT'] %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{config['BOOTSTRAP_GOOGLE_ANALYTICS_ACCOUNT']}}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {%- endif %}
  {%- endblock body %}
  </body>
  {%- if config['BOOTSTRAP_FONTAWESOME'] %}
  <!-- Font Awesome is licensed CC-BY-3.0: http://fortawesome.github.com/Font-Awesome -->
  {%- endif %}
{%- endblock html %}
</html>
