{% extends "base.html" %}
{% block body %}
<h4> note Select!</h4>
<script>AUTOBAHN_DEBUG = true;</script>
      <!--<script src="http://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="/static/js/jquery/dist/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/autobahn.js"></script>


<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<!-- Old Vertical formatted note table
<div class="container-fluid">
<table class="table table-hover">
  <thead>
  	<tr><td>Flat</td><td>Note</td></tr>
  </thead>
<tr>

</tr>
<tr>
	<td>
<a  id="note-Ab" class="btn btn-primary btn-lg btn-block  active" role="button">Ab</a>
</td>
<td>

<a  id="note-A" class="btn btn-primary btn-lg btn-block active" role="button">A</a>
</td>
</tr>
<tr>
	<td>
<a id="note-Bb" class="btn btn-primary btn-lg btn-block active" role="button">Bb</a>
</td>
<td>
<a id="note-B" class="btn btn-primary btn-lg btn-block active" role="button">B</a>
</td>
</tr>
<tr>
	<td>
		</td>
<td>
<a id="note-C" class="btn btn-primary btn-lg btn-block active" role="button">C</a>
</td>
</tr>
<tr>
	<td>
<a  id="note-Db" class="btn btn-primary btn-lg btn-block active" role="button">Db</a>
</td>
<td>
<a  id="note-D" class="btn btn-primary btn-lg btn-block active" role="button">D</a>
</td>
</tr>
<tr>
	<td>
<a  id="note-Eb" class="btn btn-primary btn-lg btn-block active" role="button">Eb</a>
</td>
<td>
<a  id="note-E" class="btn btn-primary btn-lg btn-block active" role="button">E</a>
</td>
</tr>
<tr>
	<td>
		</td>
<td>
<a  id="note-F" class="btn btn-primary btn-lg btn-block active" role="button">F</a>
</td>
</tr>
<tr>
	<td>
<a  id="note-Gb" class="btn btn-primary btn-lg btn-block active" role="button">Gb</a>
</td>
<td>
<a  id="note-G" class="btn btn-primary btn-lg btn-block active" role="button">G</a>
</td>
</tr>

</table>
</div>
-->
<!--End table-->
<!-- New note table-->
<div class="container-fluid">
<table class="table table-hover">
  <thead>
    <tr><td>New Notes </td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </thead>
<tr>

  <td>
<a  id="note-Ab"class="btn btn-primary btn-lg btn-block active" role="button">Ab</a>
</td>
<td>
<a  id="note-Bb" class="btn btn-primary btn-lg btn-block active" role="button">Bb</a>
</td>
<td>

</td>
<td>
<a  id="note-Db" class="btn btn-primary btn-lg btn-block active" role="button">Db</a>
</td>
<td>
<a  id="note-Eb" class="btn btn-primary btn-lg btn-block active" role="button">Eb</a>
</td>
<td>

</td>
<td>
<a  id="note-Gb" class="btn btn-primary btn-lg btn-block active" role="button">Gb</a>
</td>
</tr>
<tr>

<td>
<a  id="note-A"class="btn btn-primary btn-lg btn-block active" role="button">A</a>
</td>
<td>
<a  id="note-B" class="btn btn-primary btn-lg btn-block active" role="button">B</a>
</td>
<td>
<a  id="note-C" class="btn btn-primary btn-lg btn-block active" role="button">C</a>
</td>
<td>
<a  id="note-D" class="btn btn-primary btn-lg btn-block active" role="button">D</a>
</td>
<td>
<a  id="note-E" class="btn btn-primary btn-lg btn-block active" role="button">E</a>
</td>
<td>
<a  id="note-F" class="btn btn-primary btn-lg btn-block active" role="button">F</a>
</td>
<td>
<a  id="note-G" class="btn btn-primary btn-lg btn-block active" role="button">G</a>
</td>
</tr>

</table>
</div>
<!-- End new note table-->
<!-- chords table-->
<div class="container-fluid">
<table class="table table-hover">
  <thead>
  	<tr><td>Chords </td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </thead>
<tr>

</tr>
<tr>

<td>
<a  id="chord-A"class="btn btn-primary btn-lg btn-block active" role="button">A</a>
</td>
<td>
<a  id="chord-B7" class="btn btn-primary btn-lg btn-block active" role="button">B7</a>
</td>
<td>
<a  id="chord-C" class="btn btn-primary btn-lg btn-block active" role="button">C</a>
</td>
<td>
<a  id="chord-D" class="btn btn-primary btn-lg btn-block active" role="button">D</a>
</td>
<td>
<a  id="chord-E" class="btn btn-primary btn-lg btn-block active" role="button">E</a>
</td>
<td>
<a  id="chord-F" class="btn btn-primary btn-lg btn-block active" role="button">F</a>
</td>
<td>
<a  id="chord-G" class="btn btn-primary btn-lg btn-block active" role="button">G</a>
</td>
</tr>
</table>
</div>

<!-- New note table-->
<div class="container-fluid">
<table class="table table-hover">
  <thead>
    <tr><td>Play Major Scale </td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </thead>
<tr>

  <td>
<a  id="scale-Ab"class="btn btn-primary btn-lg btn-block active" role="button">Ab</a>
</td>
<td>
<a  id="scale-Bb" class="btn btn-primary btn-lg btn-block active" role="button">Bb</a>
</td>
<td>

</td>
<td>
<a  id="scale-Db" class="btn btn-primary btn-lg btn-block active" role="button">Db</a>
</td>
<td>
<a  id="scale-Eb" class="btn btn-primary btn-lg btn-block active" role="button">Eb</a>
</td>
<td>

</td>
<td>
<a  id="scale-Gb" class="btn btn-primary btn-lg btn-block active" role="button">Gb</a>
</td>
</tr>
<tr>

<td>
<a  id="scale-A"class="btn btn-primary btn-lg btn-block active" role="button">A</a>
</td>
<td>
<a  id="scale-B" class="btn btn-primary btn-lg btn-block active" role="button">B</a>
</td>
<td>
<a  id="scale-C" class="btn btn-primary btn-lg btn-block active" role="button">C</a>
</td>
<td>
<a  id="scale-D" class="btn btn-primary btn-lg btn-block active" role="button">D</a>
</td>
<td>
<a  id="scale-E" class="btn btn-primary btn-lg btn-block active" role="button">E</a>
</td>
<td>
<a  id="scale-F" class="btn btn-primary btn-lg btn-block active" role="button">F</a>
</td>
<td>
<a  id="scale-G" class="btn btn-primary btn-lg btn-block active" role="button">G</a>
</td>
</tr>

</table>
</div>

<!--End Scales-->
<!-- capo table-->
<div class="container-fluid">
<table class="table table-hover">
  <thead>
    <tr><td>C Chord with Capo on </td><td></td><td></td><td></td><td></td><td></td></tr>
  </thead>
<tr>

</tr>
<tr>

<td>
<a  id="capo-1"class="btn btn-primary btn-lg btn-block active" role="button">1</a>
</td>
<td>
<a  id="capo-2" class="btn btn-primary btn-lg btn-block active" role="button">2</a>
</td>
<td>
<a  id="capo-3" class="btn btn-primary btn-lg btn-block active" role="button">3</a>
</td>
<td>
<a  id="capo-5" class="btn btn-primary btn-lg btn-block active" role="button">5</a>
</td>
<td>
<a  id="capo-6" class="btn btn-primary btn-lg btn-block active" role="button">6</a>
</td>
<td>
<a  id="capo-7" class="btn btn-primary btn-lg btn-block active" role="button">7</a>
</td>

</tr>
</table>
</div>
<!-- end capo table-->

<!-- tuning table-->
<div class="container-fluid">
<table class="table table-hover">
  <thead>
    <tr><td></td><td>C Chord with Diff tunings </td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </thead>
<tr>
<td>
<a  id="tuning-1"class="btn btn-primary btn-lg btn-block active" role="button">Standard</a>
</td>
<td>
<a  id="tuning-2" class="btn btn-primary btn-lg btn-block active" role="button">Drop D</a>
</td>
<td>
<a  id="tuning-3" class="btn btn-primary btn-lg btn-block active" role="button">DADGAD</a>
</td>
</tr>
<tr>


<td>
<a  id="tuning-5" class="btn btn-primary btn-lg btn-block active" role="button">Open D</a>
</td>
<td>
<a  id="tuning-6" class="btn btn-primary btn-lg btn-block active" role="button">Mayfield</a>
</td>
<td>
<a  id="tuning-7" class="btn btn-primary btn-lg btn-block active" role="button">Open E</a>
</td>
<td>
<a  id="tuning-8" class="btn btn-primary btn-lg btn-block active" role="button">Open A</a>
</td>

</tr>
</table>
</div>

<!-- End tuning table-->

<h3> Presets </h3>
<table class="table table-hover">
	<thead>
  		<tr><td></td><td></td><td></td></tr>
  	</thead>
   	<tr>
  		<td>
<a  id="preset-sparkler" class="btn btn-info btn-lg btn-block active" role="button">Sparkler</a>
</td>
<td>
<a id="preset-bolt" class="btn btn-info btn-lg btn-block active" role="button">Bolt!</a>
</td>
<td>
<a  id="preset-snake" class="btn btn-info btn-lg btn-block active" role="button">Snake</a>
</td>
  	</tr>
  	<tr>
  		<td>
<a id="preset-all-blue" class="btn btn-primary btn-lg btn-block active" role="button">Blue</a>
</td>
<td>
<a id="preset-all-red"  class="btn btn-danger btn-lg btn-block active" role="button">Red</a>
</td>
<td>
<a id="preset-all-green"  class="btn btn-success btn-lg btn-block active" role="button">Green</a>
</td>
  	</tr>
  	<tr>
  	<td>
<a id="preset-random"  class="btn btn-primary btn-lg btn-block active" role="button">Random</a>
</td>
<td>
<a id="preset-playscale-1"  class="btn btn-primary btn-lg btn-block active" role="button">Scale Prog1</a>
</td>
<td>
<a id="preset-playscale-2"  class="btn btn-primary btn-lg btn-block active" role="button">Scale Prog2</a>
</td>
</tr>
<tr>
<td>
<a id="preset-fade-3" class="btn btn-primary btn-lg btn-block active" role="button">Fade x3</a>
</td>
<td>
<a id="preset-rainbowl" class="btn btn-primary btn-lg btn-block active" role="button">Rbow loop</a>
</td>
<td>
<a id="preset-rainbowp" class="btn btn-primary btn-lg btn-block active" role="button">Rbow pixel</a>
</td>
</tr>
<tr>
<td>
<a id="preset-rainbow-3" class="btn btn-primary btn-lg btn-block active" role="button">rainbow</a>
</td>
<td>
<a id="preset-rainbows" class="btn btn-primary btn-lg btn-block active" role="button">Rbow String</a>
</td>
<td>
<a id="preset-rainbowf" class="btn btn-primary btn-lg btn-block active" role="button">Rbow Fret</a>
</td>
</tr>
<tr>
<td>
<a id="song-space" class="btn btn-primary btn-lg btn-block active" role="button">Space Oddity</a>
</td>
<td>
<a id="song-smoke" class="btn btn-primary btn-lg btn-block active" role="button">Smoke on the..</a>
</td>
<td>

</td>
</tr>
</table>
</div>

<a id="preset-clear" class="btn btn-info btn-lg btn-block active" role="button">Clear LEDs</a>
<div>
	<p>Made by EdgeTechLabs, 2016</p>
</div>
<script>
         // the URL of the WAMP Router (Crossbar.io)
         //
         var wsuri;
         if (document.location.origin == "file://") {
            wsuri = "ws://127.0.0.1:8080/ws";

         } else {
            wsuri = (document.location.protocol === "http:" ? "ws:" : "wss:") + "//" +
                        document.location.hostname + ":8080/ws";
         }


         // the WAMP connection to the Router
         //
         var connection = new autobahn.Connection({
            url: wsuri,
            realm: "realm1"
         });


         // timers
         //
         var t1, t2;


         // fired when connection is established and session attached
         //
         connection.onopen = function (session, details) {

            console.log("Connected");

            // SUBSCRIBE to a topic and receive events
            //
            function on_counter (args) {
               var counter = args[0];
               console.log("on_counter() event received with counter " + counter);
            }
            session.subscribe('com.example.oncounter', on_counter).then(
               function (sub) {
                  console.log('subscribed to topic');
               },
               function (err) {
                  console.log('failed to subscribe to topic', err);
               }
            );


            
            

         };


         // fired when connection was lost (or could not be established)
         //
         connection.onclose = function (reason, details) {
            console.log("Connection lost: " + reason);
            if (t1) {
               clearInterval(t1);
               t1 = null;
            }
            if (t2) {
               clearInterval(t2);
               t2 = null;
            }
         }


         // now actually open the connection
         //
         connection.open();

         function note_handler (note){
          connection.session.call('com.example.play_note', [note]);
         };
         function chord_handler (note){
          connection.session.call('com.example.play_chord', [note]);
         };
         function scale_handler (note){
          connection.session.call('com.example.play_scale', [note]);
         };
         function capo_handler (note){
          connection.session.call('com.example.play_capo', [note]);
         };
         function tuning_handler (note){
          connection.session.call('com.example.play_tuning', [note]);
         };
         function song_handler (_song){
          connection.session.call('com.example.play_song', [_song]);
         };
         function preset_handler (type,num=1){
          connection.session.call('com.example.play_preset', [type,num]);
         };

         $(document).click(function(e) {
          var tar = e.target;
          // e.target is the element which has been clicked.
          var tar_id = tar.id;
          var endpoint = tar_id.split('-')[0];
          var end_split = tar_id.split('-');
          var tar_text = tar.text;
          if (endpoint == 'note'){
            note_handler(tar_text);
          }
          if (endpoint == 'chord'){
            chord_handler(tar_text)
          }
          if (endpoint == 'scale'){
            scale_handler(tar_text)
          }
          if (endpoint == 'capo'){
            capo_handler(tar_text)
          }
          if (endpoint == 'tuning'){
            tuning_handler(tar_text)
          }
          if (endpoint == 'song'){
            song_handler(tar_text)
          }
          if (endpoint == 'preset'){
            var tar_type = end_split[1];
            if (end_split.length>2){
              var tar_num = end_split[2];
            }
            else{
              var tar_num = 3;
            }
            preset_handler(tar_type,tar_num);
          }
          });
      </script>



{% endblock %}