{% extends "base.html" %}
{% block body %}
<h3> Input Tests</h3>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<div class="container-fluid">
<table class="table table-hover">
  <thead>
  	<tr><td>Function</td><td>Result</td></tr>
  </thead>
<tr>

</tr>



<tr>
	<td>
<a href="/test/mech" class="btn btn-primary btn-lg btn-block active" role="button">Mech Relays</a>
</td>
<td>
{{ data.mech }}
</td>
</tr>

<tr>
  <td>
<a href="/test/ss" class="btn btn-primary btn-lg btn-block active" role="button">solid state</a>
</td>
<td>
{{ data.ss }}
</td>
</tr>

<tr>
  <td>
<a href="/test/leds" class="btn btn-primary btn-lg btn-block active" role="button">LEDs</a>
</td>
<td>
{{ data.leds }}
</td>
</tr>

<tr>
  <td>
<a href="/test/switch" class="btn btn-primary btn-lg btn-block active" role="button">Mode switch</a>
</td>
<td>
{{ data.switch }}
</td>
</tr>

<tr>
  <td>
<a href="/test/button" class="btn btn-primary btn-lg btn-block active" role="button">Start Button</a>
</td>
<td>
{{ data.button }}
</td>
</tr>

<tr>
  <td>
<a href="/test/lcd" class="btn btn-primary btn-lg btn-block active" role="button">LCD Screen</a>
</td>
<td>
{{ data.lcd }}
</td>
</tr>

<tr>
  <td>
<a href="/test/DHT" class="btn btn-primary btn-lg btn-block active" role="button">DHT22</a>
</td>
<td>
{{ data.DHT }}
</td>
</tr>

<tr>
  <td>
<a href="/test/thm" class="btn btn-primary btn-lg btn-block active" role="button">ThermoCouple</a>
</td>
<td>
{{ data.thm }}
</td>
</tr>

</table>
</div>



<div>
	<p>Made by EdgeTechLabs, 2016</p>
</div>

{% endblock %}